<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} Clima</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
    
<body>
    <h1>Clima de {{ title }}</h1>
    <p class="status">{{ status }} com temperatura de <span class="temp">{{temp}} &deg;</span></p>
    <p class="feels-like">Sensação térmica de <span class="temp">{{feels_like}} &deg;</span></p>

    <form action="/weather" class="form">
        <input type="text" name="city" id="city" placeholder="Insira a Cidade" />
        <button type="submit" class="submit-btn">Enviar</button>
    </form>
</body>

</html>
